# WS
build/
install/
log/
.vscode/
.colcon/
__pycache__/
test.py

src/bno055/

# my_robot_description
src/my_robot_description/models/model.sdf

# my_robot_control
src/hand_gesture_control/scripts/camera_node.py

# my_robot_localization
src/my_robot_localization/doc/
src/my_robot_localization/images/
src/my_robot_localization/bag_files/

# my_robot_description
src/my_robot_navigation/

# microRos_bot
main_alt.cpp