[submodule "rplidar_ros"]
    path = src/rplidar_ros
    url = https://github.com/Slamtec/rplidar_ros/tree/dev-ros2
[submodule "microros_ws"]
    path = src/microros_ws
    url = https://github.com/micro-ROS/micro_ros_setup/tree/humble
