build/
install/
log/
.vscode/
test.py
.colcon/
src/my_robot_localization/doc/
src/hand_gesture_control/scripts/camera_node.py
src/my_robot_localization/images/
src/my_robot_localization/bag_files/
__pycache__/
main_alt.cpp